{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5 mt-5">
            <h3>Crear Tarea</h3>
            <form action="/tasks/create/" method="POST" class="card card-body">
                {% csrf_token %}
                {{form.as_p}}
                <br>
                <button class="btn-primary">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</main>

{{error}}
{% endblock %}